In [1]:
import os
import numpy as np
import pandas as pd

In [39]:
c_data = pd.read_csv('us-counties.csv')
c_data = c_data[c_data['date'].str.contains('2020-11-04')]
c_data.sort_values('cases', ascending=False)

              date         county       state     fips   cases  deaths
696789  2020-11-04    Los Angeles  California   6037.0  313526    7117
698458  2020-11-04  New York City    New York      NaN  271112   24034
697199  2020-11-04           Cook    Illinois  17031.0  201176    5541
696949  2020-11-04     Miami-Dade     Florida  12086.0  189331    3670
699306  2020-11-04         Harris       Texas  48201.0  164445    2841
...            ...            ...         ...      ...     ...     ...
698844  2020-11-04        Wheeler      Oregon  41069.0       1       0
698408  2020-11-04        Harding  New Mexico  35021.0       1       0
697577  2020-11-04        Unknown      Kansas      NaN       0      22
697808  2020-11-04        Unknown    Maryland      NaN       0      13
697906  2020-11-04        Unknown    Michigan      NaN       0       3

[3245 rows x 6 columns]

In [41]:
c_pop = pd.read_excel('co-est2019-alldata.xlsx')
c_pop['CTYNAME'] = c_pop['CTYNAME'].str.replace(' County', '', regex=False)
c_pop['CTYNAME'] = c_pop['CTYNAME'].str.replace(' Municipality', '', regex=False)
c_pop['CTYNAME'] = c_pop['CTYNAME'].str.replace(' city', '', regex=False)
c_pop['CTYNAME'] = c_pop['CTYNAME'].str.replace(' Borough', '', regex=False)
c_pop = c_pop[c_pop['COUNTY'] != 0]

c_data['population'] = c_pop['POPESTIMATE2019']
c_pop.sort_values('POPESTIMATE2019', ascending=False)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
209,50,4,9,6,37,California,Los Angeles,9818605,9819968,9823246,...,-10.024157,-2.160639,-1.102370,-1.268074,-2.306246,-2.202978,-3.985415,-5.864988,-7.670182,-7.930985
624,50,2,3,17,31,Illinois,Cook,5194675,5195026,5199016,...,-10.232322,-2.313511,-2.230396,-2.967149,-5.414202,-7.540507,-9.059681,-9.192628,-9.761702,-7.977568
2667,50,3,7,48,201,Texas,Harris,4092459,4093176,4107666,...,-6.483083,6.496257,9.477579,10.766362,12.877928,12.154198,4.101590,-2.405534,-3.813872,-1.183814
106,50,4,8,4,13,Arizona,Maricopa,3817117,3817365,3825110,...,12.933885,5.834205,11.175710,10.727879,11.841895,12.547914,13.997785,11.190533,12.648250,14.176034
227,50,4,9,6,73,California,San Diego,3095313,3095349,3103212,...,-5.914399,2.885086,4.376145,4.030950,4.696341,2.607460,0.929415,-1.656475,-1.574733,-3.896171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684,50,2,4,31,5,Nebraska,Arthur,460,460,465,...,6.486486,2.143623,19.007392,-49.303323,0.000000,4.434590,32.715376,-23.887079,15.267176,6.486486
2697,50,3,7,48,261,Texas,Kenedy,416,413,417,...,-114.149822,37.426901,22.598870,-36.158192,-6.857143,4.555809,-6.841505,-30.127462,37.037037,-92.746730
2701,50,3,7,48,269,Texas,King,286,285,288,...,-29.197080,-124.542124,41.666667,7.366483,-29.850746,66.055046,31.358885,-10.327022,-53.097345,-29.197080
2717,50,3,7,48,301,Texas,Loving,82,82,84,...,126.182965,122.905028,-99.447514,208.333333,-174.358974,278.846154,-33.898305,152.000000,71.174377,126.182965
560,50,4,9,15,5,Hawaii,Kalawao,90,90,90,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [36]:
for county in c_data['County']:
    if c_pop_refine.append(c_pop[c_pop['CTYNAME'].str.contains(place)])

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43574,...,-17.605427,0.502513,15.035735,-4.614071,-13.140225,-13.762031,-18.484164,-23.515727,-18.743773,-17.065527
3189,50,4,8,56,39,Wyoming,Teton County,21294,21298,21296,...,-1.583464,-2.575509,1.905293,23.259519,12.508872,4.670450,1.253214,-0.171608,-12.432212,1.797445
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21121,21089,...,-9.181105,-18.196975,-4.487730,-10.870861,-15.033634,-10.484550,-11.485101,-18.923455,-13.554993,-9.181105
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8528,8530,...,-7.652085,-12.839390,-3.084589,-1.307811,-18.938032,0.000000,-15.204038,-15.950541,-17.246806,-8.289759
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7198,...,0.000000,-9.065551,-10.549265,6.191515,0.420345,9.201171,0.693097,-36.227798,-6.910452,2.599090